/* General styles */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  -webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes pop-up {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
/* Fixing border color bug */
html body .ant-layout-sider-trigger {
  background-color: var(--sider-trigger-bg) !important;
}

/* Schedule styles */
.schedule-grid {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.schedule-header {
  font-size: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.time-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-schedule-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.day-column {
  color: #000000;
  font-size: 15px !important;
  transition: ease-in-out 0.2s;
}

.day-column.hovered {
  border-top: 2px solid rgb(207, 213, 218);
  margin-top: -13px;
}

.day-column.current-slot-hover {
  border-top: 2px solid rgb(12, 153, 235);
  margin-top: -13px;
}

.day-span {
  color: #1770d6;
  font-size: 20px !important;
}

:root {
  --border-style-right: 1px solid rgb(239, 230, 230);
  --border-style-top: 2px solid rgb(207, 213, 218);
  --border-style-top-current-slot: 2px solid rgb(57, 142, 216);
  --border-style-top-hover: 2px solid rgb(165, 165, 165);
}

.time-slot {
  width: 100%;
  border-top: var(--border-style-top);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.time-slot:not(:last-child) {
  border-right: var(--border-style-right);
}

.time-slot:hover {
  background-color: #eeeeee;
  border-top: var(--border-style-top-hover);
  cursor: pointer;
}

.week-title {
  margin-top: 10px;
}

.navigation-buttons {
  margin-top: 10px;
  text-align: center;
}
.weeks-container {
  display: flex;
  width: 100%;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}

.schedule-content {
  min-width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.schedule-content.active {
  visibility: visible;
  opacity: 1;
}

.leaked-day {
  background-color: rgba(217, 217, 217, 0.5);
  color: #999;
  pointer-events: none;
}

.leaked-day-span-number {
  color: #999;
}

.leaked-day-span-letter {
  color: #5b5b5b;
  font-size: 20px !important;
}

.leaked-day:hover {
  background-color: rgba(217, 217, 217, 0.5);
  color: #999;
  border-top: var(--border-style-top);
  box-shadow: none;
}

.current-slot {
  background-color: rgba(162, 215, 255, 0.333);
  color: rgb(12, 153, 235);
  border-top: var(--border-style-top-current-slot);
}

.current-slot:hover {
  background-color: rgba(162, 215, 255, 0.333);
  box-shadow: none;
  border-top: var(--border-style-top-current-slot);
}

.week-number {
  color: #4a90e2;
  font-weight: bold;
}

--------------------------------------------------------------------------
/* Styles for mobile */
.schedule-header-mobile,
.navigation-buttons-mobile,
.week-title-mobile {
  flex-shrink: 0;
}
.mobile-schedule {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100);
}

.schedule-header-mobile {
  justify-content: center;
  z-index: 10;
  background-color: #fff;
  position: fixed;
  top: 60px;
  width: 100%;
  padding: 10px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(129, 129, 129);
}

.schedule-header-mobile-admin {
  justify-content: center;
  z-index: 10;
  background-color: #fff;
  position: fixed;
  top: 60px;
  width: 100%;
  padding: 10px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(129, 129, 129);
}
.footer-mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgb(129, 129, 129);
  background-color: #fff;
  padding-top: 10px;
}

.week-title-mobile {
  text-align: center;
  z-index: 10;
  background-color: #fff;
  margin-bottom: 0 !important;
}
.navigation-buttons-mobile {
  /* z-index: 10; */
  background-color: #fff;
  text-align: center;
  padding: 10px;
}

.week-content-mobile {
  flex-shrink: 0;
  width: 100%;
}

.week-container-mobile {
  flex-grow: 1;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
  -webkit-overflow-scrolling: touch;
  min-height: 0;
  background: #fff;
  margin-bottom: 165px;
  margin-top: 55px;
  width: 100%;
  scrollbar-width: none;
  will-change: transform;
  transition: all 0.15s ease-in-out;
}

.week-container-mobile::-webkit-scrollbar {
  display: none;
}

.return-button-mobile {
  top: -4px;
}

.leaked-day-mobile {
  background-color: rgba(217, 217, 217, 0.5);
  color: #999;
}

.mobile-day {
  background-color: #fff;
  flex-shrink: 0;
  padding: 5px;
}

.day-date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.main-schedule-row-mobile {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.day-span-mobile,
.date-span-mobile {
  margin: 0 3px;
}

.leaked-day-span-mobile,
.leaked-date-span-mobile {
  margin: 0 3px;
}

.day-span-mobile {
  color: #4a90e2;
  font-size: 20px;
}

.leaked-day-span-mobile {
  color: #6b6b6b;
  font-size: 20px;
}

.date-span-mobile {
  color: #000000;
  font-size: 20px;
}

.leaked-date-span-mobile {
  color: #999;
  font-size: 20px;
}

:root {
  --border-style-top-mobile: 1px solid rgba(219, 208, 208, 0.81);
  --border-style-bottom-mobile: 1px solid rgba(69, 69, 69, 0.81);
  --border-style-top-mobile-current-slot: 1px solid rgb(88, 158, 220);
}
.time-slot-mobile {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-top: var(--border-style-top-mobile);
}

.current-slot-mobile {
  background-color: rgba(162, 215, 255, 0.333);
  color: rgb(12, 153, 235);
  border-top: var(--border-style-top-mobile-current-slot);
}

.shift-timer-mobile {
  font-weight: bold;
}

.weeks-wrapper-mobile {
  display: flex;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.schedule-header-create-schedule {
  position: fixed;
  align-items: center;
}
